body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: burlywood;
  }
  
  #tablero {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 7px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .celda {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #botonReiniciar {
    padding: 20px 60px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #estadoJuego {
    font-size: 1.4em;
    margin-top: 10px;
    color:navy;
  }